* {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
    border: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    text-align: center;
}
table{
    width: 100%;
}
table,tr,td,th{
    border: 1px solid black;
    border-collapse: collapse;
}
th{
    padding: 16px;
}
td{
    min-width: 40px;
    text-align: center;
}
td img{
    height: 150px;
    width: auto;
}

.product-info{
    display: flex;
    border: 1px;
    align-items: center;
}
.product-info div{
    margin-left: 16px;
}
.product-info div p{
    margin-bottom: 8px;
}
.product-info div .price{
    text-align:left ;
}
.btn-del{
    background-color: #c23e2d;
    border-radius: 50%;
    height: 24px;
    width: 24px;
}
.btn-del:hover{
    background-color: #e9503c;
}
.header{
    display: flex;
    justify-content:space-between;
    padding: 16px;
    background-color: #f1f6f2;
}
.header .header-logo{
    margin-left: 50%;
    transform: translateX(-50%);
}
.header .logo-product{
    height: 50px;
    width: auto;  
    margin-left: 50%;
    transform: translateX(-50%);
}
.header .cart{
    margin-right: 36px;
    /* display: flex; */
}
.header .cart img{
    height: 50px;
    width: auto;
}
.header .cart span{
    width: 24px;
    height: 24px;
    background-color: #f0833a;
    display: inline-block;
    /* padding-top: ; */
    text-align: center;
    align-content: center;
    border-radius: 50%;
    margin-left: -24px;
}
.main-product{
    margin: 30px 15%;
}
.main-title{
    padding: 24px;
}
.product-list{
    display: flex;
    /* flex-wrap: wrap; */
}
.product-list-item{
    margin: 24px;
}
.product-list-item p{
    font-weight: 600;
}
.price{
    text-decoration: underline;
    color: red;
}
.product-list-item button{
    background-color: rgb(255, 179, 92);
    /* padding: 12px 16px ; */
    width: 280px;
    height: 40px;
    margin-top: 16px;
}
.product-list-item button:hover{
    background-color: rgb(221, 47, 47);
    font-weight: 900;
}
.main-cart{
    margin: 30px 15%;
}
.footer{
    padding: 16px;
    background-color: #f1f6f2;
    text-align: center;
}