* {
    margin: 0;
    padding: 0;
}

​ol,
ul {
    list-style: none;
}

​img {
    vertical-align: top;
    max-width: 100%;
    border: none;
}

​a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    text-align: center;
}

@font-face {
    font-family: Poppins, sans-serif;
    src: url();
}

* {
    font-family: Poppins, sans-serif;
}

/* .header-container {
    padding: 0 16px;
} */

.header-top {
    display: flex;
    justify-content: space-between;
    color: #769468;
    height: 40px;
    background-color: #f1f6f2;
    font-size: 14px;
}

.header-top span {
    align-self: center;
}

.header-top a {
    text-decoration: none;
    color: #769468;
}

.header-top-list {
    display: flex;
    margin-left: 16px;
    align-items: center;
}

.header-top-list li {
    margin-right: 10px;
    /* align-self: center; */
}

.header-top-list li img {
    width: 20px;
    height: auto;
}

.country-select {
    padding: 0 8px;
    background-color: #f1f6f2;
    border: none;
    color: #769468;
    margin-right: 16px;
    font-size: 14px;
}

/* .country-select-item{
    background-image: url(../image/mail.png);
    background-repeat: no-repeat;
} */

.header-nav {
    display: flex;
    height: 80px;
    justify-content: space-between;
    margin: 0 20px;
}

.header-nav img {
    width: 80px;
    height: auto;
    align-self: center;
}

.nav-list {
    display: flex;
}

.nav-list-item {
    padding: 0 16px;
    align-self: center;
    font-weight: 600;
}

.icon-list {
    display: flex;
    align-self: center;
}

.icon-list img {
    height: 24px;
    width: auto;
    margin: 0 12px;
}

.main-top {
    /* display: flex; */
    margin-bottom: 72px;
}

.main-top .pic1 {
    width: 100%;
    height: auto;
}

.main-top div {
    display: flex;
    width: 100%;
}

.main-top .pic2 {
    width: 35%;
    height: auto;
}

.main-top .pic3 {
    width: 65%;
    height: auto;
}

.main-product {
    position: relative;
}

.main-heading {
    font-size: 36px;
    border-bottom: 12px solid #cadcdd;
    text-align: center;
    margin-bottom: 10px;
}

.main-text {
    color: #605e5ecc;
    text-align: center;
    justify-items: center;
    /* text-align: center; */
}

.main-product {
    margin-bottom: 100px;
}

.main-product .list-product {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* margin: 24px 12%; */
}

.main-product .list-product .list-product-item {
    position: relative;
    margin: 24px 24px;
}

.main-product .list-product .list-product-item .product-img img {
    width: 300px;
    height: auto;
}

/* .main-product .list-product .list-product-item .product-img img:hover {
    src: format("https://themes.the4.co/kalles-html/assets/images/home-fashion-trend/pr-18.jpg");
    image-rendering: calc(src = url(https://themes.the4.co/kalles-html/assets/images/home-fashion-trend/pr-18.jpg));
    src: url("https://themes.the4.co/kalles-html/assets/images/home-fashion-trend/pr-18.jpg");
} */


.main-product .list-product .list-product-item .icon-favorite img {
    width: 20px;
    position: absolute;
    top: 5%;
    left: 5%;
}

.btn {
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 8px 10px;
    border-radius: 30px;
}

.main-product .list-product .list-product-item .bt-quick-view {
    position: absolute;
    top: 40%;
    left: 30%;
    align-self: center;
}

.main-product .list-product .list-product-item .bt-quick-shop,
.main-product .list-product .list-product-item .bt-add {
    position: absolute;
    top: 50%;
    left: 30%;
    align-self: center;
}

.main-product .list-product .list-product-item .bt-quick-view:hover,
.main-product .list-product .list-product-item .bt-quick-shop:hover,
.main-product .list-product .list-product-item .bt-add:hover {
    background-color: aquamarine;
    color: black;
}

.main-product .list-product .list-product-item a {
    text-decoration: none;
}

.main-product .list-product .list-product-item a h3 {
    color: black;
    font-size: 16px;
}

.main-product .list-product .list-product-item a h3:hover {
    color: rgb(50, 197, 148);
}

.main-product .list-product .list-product-item span {
    display: flex;
}

.main-product .list-product .list-product-item .color-red {
    background-color: red;
    width: 16px;
    height: 16px;
    border: 2px solid rgb(216, 218, 217);
    border-radius: 50%;
    display: block;
    margin-right: 8px;
}

.main-product .list-product .list-product-item .color-black {
    background-color: black;
    width: 16px;
    height: 16px;
    border: 2px solid rgb(216, 218, 217);
    border-radius: 50%;
    display: block;
}

.main-product .list-product .list-product-item .color-grey {
    background-color: grey;
    width: 16px;
    height: 16px;
    border: 2px solid rgb(216, 218, 217);
    border-radius: 50%;
    display: block;
    margin-right: 8px;
}

.main-product .list-product .list-product-item .color-wheat {
    background-color: wheat;
    width: 16px;
    height: 16px;
    border: 2px solid rgb(216, 218, 217);
    border-radius: 50%;
    display: block;
}

.btn-primary {
    /* align-items: center; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 16px 32px;
    background-color: white;
    border: 3px solid black;
    color: black;
    /* margin-bottom: 36px; */
}

.btn-primary:hover {
    background-color: aquamarine;
    color: black;
}

.main-blog {
    margin-bottom: 100px;
}

.main-blog .list-blog {
    display: flex;
    justify-content: center;
}

.main-blog .list-blog .list-blog-item {
    padding: 24px 24px;
    /* padding-left: 24px; */
}

.main-blog .list-blog .list-blog-item a {
    text-decoration: none;
    color: black;
}

.main-blog .list-blog .list-blog-item a:hover {
    color: rgb(64, 184, 144);
}

.main-blog .list-blog .list-blog-item a img {
    width: 400px;
    height: auto;
}

.main-blog .list-blog .list-blog-item h3 {
    font-size: 16px;
    padding: 16px 0;
}

.main-blog .list-blog .list-blog-item span {
    color: #717474;
}

.main-blog .list-blog .list-blog-item span strong {
    color: black;
}

.main-blog .list-blog .list-blog-item p {
    font-size: 14px;
    color: #717474;
    margin-top: 16px;
}

.main-kalles {
    position: relative;
}

.main-kalles .list-kalles {
    display: flex;
    width: 100%;
    margin-bottom: 24px;
}

.main-kalles .list-kalles-btn {
    font-weight: 900;
    width: 48px;
    height: 48px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
}

.main-kalles .btn-left {
    top: 240px;
    left: 2%;
}

.main-kalles .btn-right {
    top: 240px;
    right: 2%;
}

.main-kalles .kalles-bottom {
    display: flex;
    justify-content: center;
}

.main-kalles .kalles-bottom .kalles-bottom-item {
    display: flex;
    margin-right: 36px;
}

.main-kalles .kalles-bottom .kalles-bottom-item img {
    height: 40px;
    width: auto;
    margin-right: 16px;
}

.main-kalles .kalles-bottom .kalles-bottom-item h3 {
    font-size: 16px;
}

.main-kalles .kalles-bottom .kalles-bottom-item p {
    color: #818181;
    padding: 8px 0;
}

.footer-top {
    background-color: #f6f6f8;
    padding: 100px 250px;
}

.footer-top .footer-list {
    display: flex;
    justify-content: space-around;
}

.footer-top .footer-list .footer-list-item {
    margin: 0 16px;
}

.footer-top .footer-list .footer-list-item img {
    height: 40px;
    width: auto;
}

/* .footer-top .footer-list .footer-list-item .kalles-footer{
    
} */
.footer-top .footer-list .footer-list-item .kalles-footer .kalles-footer-item {
    display: flex;
    margin: 16px 6px;
}

.footer-top .footer-list .footer-list-item .kalles-footer .kalles-footer-item img {
    width: 30px;
    height: auto;
    margin-right: 20px;
}

.footer-top .footer-list .footer-list-item .kalles-footer .kalles-footer-item p {
    color: #818181;
}

.footer-top .footer-list .footer-list-item .kalles-footer .kalles-footer-item .society {
    display: flex;
}

.footer-top .footer-list .footer-list-item .kalles-footer .kalles-footer-item .society .society-item {
    margin: 8px;
}

.footer-top .footer-list .footer-list-item .kalles-footer .kalles-footer-item .society .society-item img {
    height: 20px;
    width: auto;
}

.footer-top .footer-list .footer-list-item h3 {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.footer-top .footer-list .footer-list-item .categories .categories-item,
.footer-top .footer-list .footer-list-item .infomation .infomation-item,
.footer-top .footer-list .footer-list-item .useful-links .useful-links-item,
.footer-top .footer-list .footer-list-item .newsletter-signup .newsletter-signup-item {
    padding: 6px 0;
}

.footer-top .footer-list .footer-list-item .categories .categories-item a,
.footer-top .footer-list .footer-list-item .infomation .infomation-item a,
.footer-top .footer-list .footer-list-item .useful-links .useful-links-item a,
.footer-top .footer-list .footer-list-item .newsletter-signup .newsletter-signup-item p {
    text-decoration: none;
    color: #818181;
}

.footer-form-subscribe-btn {
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 30px;
}

.footer-top .footer-list .footer-list-item .newsletter-signup .newsletter-signup-item .footer-form-subscribe input {
    font-size: 20px;
    border-radius: 30px;
    padding: 14px;
    background-color: #f6f6f8;
    border: 3px solid #e7e7eb;
}

.footer-bottom {
    height: 60px;
    margin: 0 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #818181;
}

.footer-bottom .menu-footer {
    display: flex;
}

.footer-bottom .menu-footer .menu-footer-item {
    padding: 0 16px;
}