* {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
    border: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    text-align: center;
}

.btn {
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 8px 10px;
    border-radius: 30px;
}

.btn-primary {
    padding: 16px 32px;
    background-color: white;
    border: 3px solid black;
    color: black;
}

.btn-primary:hover {
    background-color: black;
    color: white;
}

.header {
    /* text-align: center; */
    padding: 24px;
    background-color: aliceblue;
    margin-bottom: 40px;
    display: flex;
    position: relative;
}

.header img {
    height: 70px;
    width: auto;
}

.header h1 {
    /* text-align: center; */
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translateX(-50%);
}

.main .main-top {
    display: flex;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}

.main .main-bottom .list-user {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
}

.main .main-bottom .list-user .list-user-item {
    padding: 16px 16px;
    text-align: center;
    margin: 0 16px;
    background-color: rgb(223, 223, 223);
}

.main .main-bottom .list-user .list-user-item p {
    margin: 10px 0;
}

.main .main-bottom .list-user .list-user-item .avatar {
    width: 250px;
    height: auto;
    margin-bottom: 16px;
}

.main .main-bottom .list-user .list-user-item .btn-second {
    background-color: white;
    border: 3px solid rgb(223, 223, 223);
    color: black;
}

.main .main-bottom .list-user .list-user-item .btn-second:hover {
    background-color: black;
    color: white;
}

.footer {
    padding: 16px;
    background-color: #9fa0a0;
    text-align: center;
}

.main-edit .edit-user {
    align-self: center;
    margin-bottom: 40px;
    /* background-color: aliceblue;
    padding: 24px; */
}

.main-edit .edit-user {
    display: flex;
    justify-content: center;
}

.main-edit .edit-user .form {
    background-color: rgb(182, 198, 212);
    padding: 24px;
    border-radius: 10px;
    /* text-align: center; */
    /* display: flex; */
}

.main-edit .edit-user .form .label {
    font-weight: 600;
    /* margin: 24px 0; */
    /* width: 200px; */
}

.main-edit .edit-user .form .input {
    padding: 10px;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 16px;
    width: 400px;
}

.main-edit .edit-user .form .btn-update {
    padding: 14px 20px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.btn-update:hover {
    background-color: blue;
    box-shadow: 5px 6px#9fa0a0;
}

.topnav input[type=text] {
    /* float: right; */
    padding: 6px;
    /* margin-top: 8px; */
    /* margin-right: 16px; */
    /* border: none; */
    font-size: 17px;
}
/* .topnav{
    align-items: center;
} */
.topnav img{
    /* align-self: center; */
    width: 35px;
    height: auto;
    cursor: pointer;
}

@media screen and (max-width: 600px) {

    .topnav a,
    .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}